@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Source+Code+Pro:ital,wght@1,300&display=swap');
body{
    background: url("./imgs/bckg_2.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    max-width: 100%;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to right top, #05193700, #004d7a00, #000000bb, rgba(0, 0, 0, 0.412), #000000cc);
    z-index: -1;
}

header{
    display: flex;
    justify-content: space-between; /* Centra los elementos en el header */
}

.lista{
    justify-content: center;
}

header ul{
    display:flex;
    color:white;
    list-style: none;
}

header li{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    margin-right: 70px; /* Ajusta la cantidad de espacio entre elementos */
}

header a{
    color: white;
    text-decoration: none;

    background-image: linear-gradient(red, red);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.lista a:hover, a:focus {
    background-size: 50% 2px;
    text-decoration-color: red;
}

.logo-text{
    margin-left: 250px;
    display: flex;;
    align-items: center;
}

.card-image{
    width: 40px;
    overflow: hidden;
}

.card-image img{
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    height: auto; /* Se ajusta automáticamente la altura para mantener la proporción */
    display: block; /* Elimina espacio adicional debajo de la imagen */
}

.logo-text a{
    margin-left: 5px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}

.icons{
    justify-content: center;
    color:white;
}


/* [[ SECCIONES ]]  */

.container{
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando el espacio es insuficiente */
  
 
}

.container-completo-first{
    align-items: center;
    display: flex;
    justify-content: flex-start; /* Alinea hacia la izquierda */
    height: 90vh; /* Ajusta la altura según tus necesidades */

}

.container-first{
    color:white;

    width: 1000px; /* Ancho específico del div interno */
    padding: 90px; /* Puedes ajustar el espacio interno según tus necesidades */
    box-sizing: border-box; /* Asegura que el borde esté incluido en el tamaño total */
    text-align: left; /* Alinea el texto a la izquierda */

}
.container-first a{
    border-radius: 20px;
    border: white solid 2px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;

}

.container-first h1{
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
}

.container-first p{

    font-family: 'Source Code Pro', monospace;
    font-weight:lighter;


}

.container-completo-second{
    float: left; /* Ajusta el segundo div a la izquierda */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    margin-left: auto; /* Ajusta el margen izquierdo según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;

}

.container-second{
    
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    width: 45%;

}
.container-second img{
    margin-bottom: 50px;
    border-radius: 20px;
    width: 100%;
    height: 100%;

}


.rating{
    display: inline-flex;
    grid-template-columns: 1fr auto; /* Primer columna con ancho automático, segunda columna ocupa el espacio restante, tercera columna con un máximo del 70% */

}
.rating-icon{
    color: rgb(255, 196, 0);
    display: inline-flex;
    align-items: center;
}

.rating-text{
    padding-top: 50px;
}

.rating-text .fondo{
    background-color: rgb(255, 196, 0);
    border-radius: 15px;
    color:black;
    font-weight: bold;
}

.rating-text .textPe{
    font-family: 'Source Code Pro', monospace;
    font-weight:lighter;
}

.rating-text p{
    margin-top: 20px;

    font-size: 25pt;
}

.container-buttons{
    text-align: center;
}

p .button-watch{
    margin-left: 50px;
    padding: 10px 10px 10px 10px;
    color: white;
    text-decoration: none;
    background-color: red;
    border-radius: 15px;
    border: red solid 2px;
    
}
.container-buttons span{
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
}

